

  <div class="d1">
  <h2> Your Phone Number</h2>
  <form name="f1">
      <div class="phone"><input  type="text"  name="m1" placeholder="your phone Number"></div>


      <input type="text" class="fullwidth" name="Password" placeholder="Password" > <br>

      <button type="submit" class="fullwidth login" [routerLink]="['/home/login']" name="submit">Log In</button> <br>

      <a role="button" class="a1" routerLink="/forgot" >Forgotten password?</a>

      <hr>

      <button type="button" class="signup" name="signUp" routerLink="/signup">Create New Account</button>


  </form>
</div>
