#p1{position: absolute;
  right: 0px;
  top: 0px;
  float:left;
  display: inline;
}

#p2{position: absolute;
  left: 0px;
  top: 0px;
  float: right;
  display: inline;
}

#p3{position: absolute;
  bottom: 0px;
  float: left;
}
#p4{position: absolute;

 float: right;
  bottom: 0px;
  right: 0px;
}
#p5{
  position: absolute;
  right: 40%;
  top:45%;
}

div{
  width: 90%;
  height: 90%;
}
